__pycache__/
*.py[cod]
*~
src/wetsuite/coverage.txt
src/wetsuite/.coverage
src/wetsuite/datacollect/db.sql
src/wetsuite/datacollect/tweedekamer_nl/*.xml
src/wetsuite/datacollect/tweedekamer_nl/*.json
src/wetsuite/tests/coverage.txt
src/wetsuite/unsorted/*.txt
src/wetsuite/unsorted/spacy-bench/cpu/results.*
src/wetsuite/datacollect/*.js
examples/*.json
src/wetsuite/datacollect/*.json
src/wetsuite/datacollect/*.bz2
src/wetsuite/unsorted/pilots/
src/wetsuite/unsorted/spacy-bench/
src/wetsuite/unsorted/spacy-bench/
src/wetsuite/unsorted/wordlist.terms
