__pycache__/
*.pyc
*.pyo
*.pyd
*~
*.pdf
*.xml
*.json
.ignore
src/wetsuite/coverage.txt
src/wetsuite/.coverage
src/wetsuite/tests/coverage.txt
src/wetsuite/docs/api
notebooks/intermediate/xempty.ipynb
notebooks/extras/xempty.ipynb
notebooks/intro/xempty.ipynb
src/wetsuite/unsorted/
